td {
  border: 1px solid #000;
  padding: 10px;
  vertical-align: top;
}

.title {
  text-align: center;
}

.species-title {
  text-align: center;
}


.species-list {
  padding: 0;
  list-style-position: inside;
}

.species-list-title {
  display: inline;
}

.species-list-item::marker {
  font-weight: bold;
}

.table {
  border-collapse: collapse; 
  width: 100%; 
  border: 1px solid #000;
}

.table-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-img {
  max-width: 250px;
}

.table-list {
  list-style-type: disc;
  margin-bottom: 60px;
}

.table-link {
  text-decoration: none;
  color: inherit;
  padding-left: 80px;
}

.advantages {
  font-size: 18px;
}

.advantages-title {
  text-align: center;
}

.advantages-img {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 2px;
}

.strong {
  font-size: 18px;
  clear: left;
}

.strong-clear {
  clear: both;
}

.strong-title {
  text-align: center;
}

